.conteudo__noticia {
  padding-bottom: 20px;
}
.conteudos {
  margin-top: -20px;
}
.imagem__conteudo {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 1fr auto auto;
  align-content: center;
  background-image: url(/assets/imagemConteudo.svg);
  border-radius: 4px;
  background-size: cover;
  width: 10rem;
  height: 6rem;
  padding-bottom: 5px;
  color: white;
  font-size: 0.6rem;
  grid-template-areas:
    "frase frase frase"
    "texto texto texto"
    "imagem  relogio relogio ";
  align-items: center;
}
.Bg__frase {
  grid-area: frase;
  margin-top: 5px;
}
.titulo__conteudo {
  grid-area: texto;
  align-self: flex-end;
  margin-bottom: 4px;
}
.autorCompleto{
    grid-area: imagem;
}

.frase__conteudo {
  font-size: 0.6rem;
}
.Nature::after {
  background: #27b01a;
}
.Water::after {
  background: #00b4cb;
}
.dentro__conteudo {
  margin-left: 10px;
}
.relogio {
  grid-area: relogio;
  align-items: center;
  column-gap: 2px;
  justify-self: flex-end;
  margin-right: 1px;
}
@media screen and (min-width: 768px) {
  .relogio__conteudo {
    width: 1em;
  }
  .nome__mais__conteudos {
    font-size: 1.4em;
  }
  .frase__conteudo {
    font-size: 0.8em;
  }
}
  