
.conteudo__noticia{
    padding-bottom: 20px;
}
.conteudos{

    margin-top: -20px;
}
.imagem__conteudo{
    display: grid;
    grid-template-columns:  repeat(4,auto);
    grid-template-rows: auto 1fr auto auto;
    align-content: center;
    background-image: url(/assets/imagemConteudo.svg);
    border-radius: 4px;
    background-size: cover;
    width: 10rem;
    height: 6rem;
    padding-bottom:5px;
    color: white;
    font-size: 0.6rem;
    grid-template-areas: 
    "frase frase frase frase"
    "texto texto texto texto"
    "imagem autor relogio relogio "
    ;
    align-items: center;
}
.Bg__frase {
   grid-area: frase;
   margin-top: 5px;
}
.titulo__conteudo {
   grid-area: texto;
   align-self: flex-end;
   margin-bottom: 4px;
}
.autor__conteudo {
   grid-area: imagem;
}
.nome__autor__conteudo {
    grid-area: autor;
}

.frase__conteudo{
    font-size: 0.6rem;
   
}
.frase__conteudo::after{
    background: #27B01A;
}
.dentro__conteudo{

    margin-left: 10px;
}
.relogio{
    grid-area: relogio;
    align-items: center;
    column-gap: 2px;
}
