strong {
  color: #00cb51;
}
.conteudosDestaque {
  margin-left: 5px;
  padding-bottom: 0.5rem;
}
::-webkit-scrollbar {
  background: #9b4fba;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #00cb51;
  width: 5px;
  margin-left: 20px;
}
.noticiasDestaque {
  overflow-x: scroll;
  flex-wrap: nowrap;
}
.tituloDestaque {
  text-align: center;
  padding: 0.3rem;
  font-weight: bold;
}
