.paragrafo{
    font-size: 0.85rem;
    width: 80%;
    font-weight: 700;
    padding-bottom: 0.5em;
}
.nextRead{
   display: grid;
   grid-template-columns: repeat(3,auto);
   grid-template-rows: repeat(5,auto);
   justify-content: center;
   align-content: center;
   width: 80%;
   
}
.text-read{
    grid-column: 1/4;
    grid-row: 1/2;
    font-weight: bold;
    font-size: 1.2rem;
}
.img__conteudo{
    grid-column: 1/2;
    grid-row: 2/5;
}
.Bg__frase{
    grid-column: 2/4;
    grid-row: 2/3;
}
.titulo__conteudo{
    grid-column: 2/4;
    grid-row: 3/4;
}
.nome_autor_conteudo{
    grid-column: 3/4;
    grid-row: 4/5;
}

.autorn{
    grid-column: 2/3;
    grid-row: 4/5;
    width: 20px;
}
.data__hora__conteudo
{grid-column: 4/5;
    grid-row: 4/5;

}
